<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
  <label for="title">Введите название книги: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
  <br/>
  <label for="author">Введите автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
  <br/>
  <label for="doc">Введите год: </label>
  <input type="text" th:field="*{doc}" id="doc"/>
  <div style="color:red" th:if="${#fields.hasErrors('doc')}" th:errors="*{doc}">Doc Error</div>
  <br/>
  <!--  <label for="email">Enter email: </label>-->
  <!--  <input type="text" th:field="*{email}" id="email"/>-->
  <!--  <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->
  <!--  <br/>-->
  <input type="submit" value="Создать!"/>
</form>

</body>
</html>